@font-face {
    font-family: undertaleTitle;
    src: url("../assets/DeterminationMonoWeb.woff") ;
    
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 10, 10);
  color: white;
}

#main-container {
  width: 1000px;
  margin: 60px auto 0;


}