
#characters {
    width: 250px;
    height: 300px;

    display: flex;
    flex-direction: column;

    overflow: auto;

    border: 2px solid white;
}

.characterBtn {
    background-color: rgb(12, 10, 1);
    color: white;

    min-height: 50px !important;

    font-size: 2rem;
    font-family: undertaleFont;
    text-align: left;
}

.characterBtn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 198, 41);
    cursor: pointer
}