
#text-box {
    border: 5px solid white;
    font-size: 3rem;
    font-family: undertaleFont;
    padding: 20px 80px;

    width: 100%;
    height: 230px;

    position: relative;
}

#asteriks {
    position: absolute;
    left: 30px;
}